.likes {
    width: 50px; /* Ширина области */
    margin-left: 5px;
    margin-right: 5px;
}

.button {
    background-color: #7277c0; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #9e4caf; /* Green */
    color: white;
}